<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaevH906C3zWvH47A2a-U56r1YGlI4Z1M</string>
	<key>GCM_SENDER_ID</key>
	<string>671139204618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mareey.ios</string>
	<key>PROJECT_ID</key>
	<string>maarey-dj</string>
	<key>STORAGE_BUCKET</key>
	<string>maarey-dj.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671139204618:ios:862cb029cfe7bb6e43d9f3</string>
</dict>
</plist>